assignment-8/login.wsdl

<?xml version="1.0" encoding="utf-8"?>
<description xmlns="http://www.w3.org/ns/wsdl" xmlns:soap="http://www.w3.org/2003/05/soap-envelope" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jw="http://jw.nju.edu.cn/schema" xmlns:wsoap="http://www.w3.org/ns/wsdl/soap" xsi:schemaLocation="http://www.w3.org/ns/wsdl http://www.w3.org/2002/ws/desc/ns/wsdl20.xsd http://jw.nju.edu.cn/schema /Student.xsd http://www.w3.org/ns/wsdl/soap https://www.w3.org/2007/06/wsdl/soap.xsd" targetNamespace="http://jw.nju.edu.cn/wsdl">
  <types>
    <xs:schema targetNamespace="http://jw.nju.edu.cn/schema">
      <xs:element name="loginInfo" >
        <xs:complexType>
          <xs:sequence>
            <xs:element name="username" type="jw:学号"></xs:element>
            <xs:element name="password" type="xs:string"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="studentId" type="jw:学号" />
      <xs:element name="loginResponse" type="xs:string" />
      <xs:element name="loginInfoInvalid" type="xs:string" />
    </xs:schema>
  </types>

  <interface name="login">
    <fault name="loginInfoInvalid" element="jw:loginInfoInvalid"></fault>

    <operation name="login" pattern="http://www.w3.org/ns/wsdl/in-out" style="http://www.w3.org/ns/wsdl/style/iri">
      <input messageLabel="In" element="jw:loginInfo"></input>
      <output messageLabel="Out" element="jw:loginResponse"></output>
      <outfault ref="jw:loginInfoInvalid" messageLabel="Out"></outfault>
    </operation>
  </interface>

  <binding name="login" interface="jw:login" type="http://www.w3.org/ns/wsdl/soap" wsoap:protocol="http://www.w3.org/2003/05/soap/bindings/HTTP/">
    <operation ref="jw:login" wsoap:mep="http://www.w3.org/2003/05/soap/mep/soap-response"></operation>

    <fault ref="jw:loginInfoInvalid" wsoap:code="soap:Sender"></fault>
  </binding>

  <service name="login" interface="jw:login">
    <endpoint name="loginEndpoint" binding="jw:login" address="http://jw.nju.edu.cn/login"></endpoint>
  </service>
</description>
