assignment-8/manageStudentInfo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<description xmlns="http://www.w3.org/ns/wsdl" xmlns:soap="http://www.w3.org/2003/05/soap-envelope" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jw="http://jw.nju.edu.cn/schema" xmlns:wsoap="http://www.w3.org/ns/wsdl/soap" xsi:schemaLocation="http://www.w3.org/ns/wsdl http://www.w3.org/2002/ws/desc/ns/wsdl20.xsd http://jw.nju.edu.cn/schema /Student.xsd http://www.w3.org/ns/wsdl/soap https://www.w3.org/2007/06/wsdl/soap.xsd" targetNamespace="http://jw.nju.edu.cn/wsdl">
  <types>
    <xs:schema targetNamespace="http://jw.nju.edu.cn/schema">
      <xs:element name="studentInfo" type="jw:studentInfo" />
      <xs:element name="studentId" type="jw:学号" />
      <xs:element name="studentInfoExists" type="xs:string" />
      <xs:element name="noSuchStudent" type="xs:string" />
      <xs:element name="accessDenied" type="xs:string" />
    </xs:schema>
  </types>

  <interface name="manageStudentInfo">
    <fault name="noSuchStudent" element="jw:noSuchStudent"></fault>
    <fault name="accessDenied" element="jw:accessDenied"></fault>

    <operation name="search" pattern="http://www.w3.org/ns/wsdl/in-out" style="http://www.w3.org/ns/wsdl/style/iri">
      <input messageLabel="In" element="jw:studentId"></input>
      <output messageLabel="Out" element="jw:studentInfo"></output>
      <outfault ref="jw:noSuchStudent" messageLabel="Out"></outfault>
      <outfault ref="jw:accessDenied" messageLabel="Out"></outfault>
    </operation>

    <operation name="delete" pattern="http://www.w3.org/ns/wsdl/in-out" style="http://www.w3.org/ns/wsdl/style/iri">
      <input messageLabel="In" element="jw:studentId" />
      <output messageLabel="Out" element="jw:studentInfo" />
      <outfault ref="jw:noSuchStudent" messageLabel="Out"></outfault>
      <outfault ref="jw:accessDenied" messageLabel="Out"></outfault>
    </operation>

    <operation name="add" pattern="http://www.w3.org/ns/wsdl/in-out" style="http://www.w3.org/ns/wsdl/style/iri">
      <input messageLabel="In" element="jw:studentInfo" />
      <output messageLabel="Out" element="jw:studentId" />
      <outfault ref="jw:studentInfoExists" messageLabel="Out" />
      <outfault ref="jw:accessDenied" messageLabel="Out"></outfault>
    </operation>

    <operation name="modify" pattern="http://www.w3.org/ns/wsdl/in-out" style="http://www.w3.org/ns/wsdl/style/iri">
      <input messageLabel="In" element="jw:studentInfo" />
      <output messageLabel="Out" element="jw:studentId" />
      <outfault ref="jw:noSuchStudent" messageLabel="Out"></outfault>
      <outfault ref="jw:accessDenied" messageLabel="Out"></outfault>
    </operation>
  </interface>

  <binding name="manageStudentInfo" interface="jw:manageStudentInfo" type="http://www.w3.org/ns/wsdl/soap" wsoap:protocol="http://www.w3.org/2003/05/soap/bindings/HTTP/">
    <operation ref="jw:search" wsoap:mep="http://www.w3.org/2003/05/soap/mep/soap-response"></operation>
    <operation ref="jw:modify" wsoap:mep="http://www.w3.org/2003/05/soap/mep/soap-response" />
    <operation ref="jw:add" wsoap:mep="http://www.w3.org/2003/05/soap/mep/soap-response" />
    <operation ref="jw:delete" wsoap:mep="http://www.w3.org/2003/05/soap/mep/soap-response" />

    <fault ref="jw:noSuchStudent" wsoap:code="soap:Sender"></fault>
    <fault ref="jw:studentInfoExists" wsoap:code="soap:Sender"></fault>
    <fault ref="jw:accessDenied" wsoap:code="soap:Sender"></fault>
  </binding>

  <service name="manageStudentInfo" interface="jw:manageStudentInfo">
    <endpoint name="manageStudentInfoEndpoint" binding="jw:manageStudentInfo" address="http://jw.nju.edu.cn/manageStudentInfo"></endpoint>
  </service>
</description>
